h1 {
  text-align: center;
}
td {
  width: 100px;
  height: 100px;
}
table {
  margin: 5px auto;
}
.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.button {
  background-color: #FFFFFF;
  border: none;
  color: blue;
  width: 100px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  pointer-events: auto
}
.buttonx {
  background-color: #FFFFFF;
  border: none;
  color: blue;
  width: 100px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  pointer-events: none;
}
.buttono {
  background-color: #FFFFFF;
  border: none;
  color: red;
  width: 100px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  pointer-events: none;
}
button:focus {outline:0 !important;}